.type_body{
	 background-color: #e3acae;
	 width:auto;
	 color: #513743;
}

.type_arrange{
	 background-color: #b2cbe4;
	 width:auto;
	 color: #513743;
}

.type_energy{
	 background-color: #fffacd;
	 width:auto;
	 color: #513743;
}

.custom{
	td {
		padding: 20px;
	}
	th {
		padding-left: 20px;
	}
}