<div class='container'>
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	 	<%= render "devise/shared/error_messages", resource: resource %>
	 	<div class="row mt-4">
	    </div>
	    <div class="row mt-4">
	    </div>
	    <div class="row mt-4">
	      	<br>
		    <br>
		    <div class="col-md-4 mb-1"></div>
		    <div class="col-md-4 mb-1">
	        	<div class="form-group">
	        		<label for="Input">E-Mail</label>
	        			<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
	        	</div>
	        </div>
	        <div class="col-md-4 mb-4"></div>
	        <div class="col-md-4 mb-4"></div>
		    <div class="col-md-4 mb-4">
		        <div class="form-group text-md-center">
		        <br>
		        	<%= f.submit "Reset Password", class: "btn-flat-logo w-100" %>
		        </div>
		    </div>
    	</div>
  	<% end %>
</div>
