// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.type_body{
	 background-color: #e3acae;
	 width:auto;
	 color: #513743;
}

.type_arrange{
	 background-color: #b2cbe4;
	 width:auto;
	 color: #513743;
}

.type_energy{
	 background-color: #fffacd;
	 width:auto;
	 color: #513743;
}