<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admins/home/top">
    <div class="sidebar-brand-text mx-3">MealDiary | 管理</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">  
  
  <!-- Nav Item - Charts -->
  <li class="nav-item">
    <%= link_to admins_users_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Users</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admins_diaries_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Diaries</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admins_categories_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Categories</span>
    <% end %>
  </li>

  <li class="nav-item">
    <%= link_to admins_foods_path, class: "nav-link" do %>
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Foods</span>
    <% end %>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

</ul>